@import "tailwindcss";

html,
body {
  background: #0F1117;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #7C3AED;
  border-radius: 999px;
}

/* Recharts Fix */

.recharts-tooltip-wrapper {
  outline: none;
}

.recharts-default-tooltip {
  background: #161A23 !important;
  border: 1px solid rgba(255,255,255,0.08) !important;
  border-radius: 12px !important;
}